<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">¡Bienvenidos a la Veterinaria Malapata y hnos!</h1>
            <p>Esta pagina web tiene como propósito reunir y documentar los datos e historias clínicas de las mascotas y sus dueños que concurren a nuestro local, con el fin de mantener un registro fácilmente accesible desde su casa. Además, permite agendar citas con el veterinario que atienda a su mascota de una manera sencilla y rápida.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <p>Esta solución salió a flote como una alternativa a la situación sanitaria actual que estamos enfrentando (Covid-19). De esta forma, se pueden limitar las concurrencias al local y potencialmente los contagios ocurridos, mientras posee todo el amplio abanico de prestaciones que tenemos al alcance de su dispositivo. </p>
            </div>
            <div class="col-md-4">
                <p>Disponemos de las soluciones necesarias para operar desde su hogar con tan solo unos clicks</p>
            </div>
            <div class="col-md-4">
                <p>Contamos con una amplia cantidad de clientes, y decidimos elaborar esta web para darnos a conocer aun mas.</p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>