<!-- Page Content -->
<div class="container">
  <div class="alert {{classstatus}}" role="alert">{{status}}</div>
    <!-- Listado Veterinarios -->
    <div *ngIf="veterinarios; else elseBlock">
      <form #validarForm="ngForm" (ngSubmit)="validarVeterinarios(validarForm)" class="form-horizontal">
        <ul>
            <div class="row" *ngFor="let veterinario of veterinarios; let i = index;">
                <li>{{ veterinario.apellido }}, {{ veterinario.nombre }} | <label for="validar" class="cols-sm-2 control-label">¿Validar? -> </label> <input type="checkbox" [(ngModel)]="veterinario.veterinarioValido" name= "validar" (change)="actualizar()"></li> 
            </div>
        </ul>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Confirmar">
      </form>
    </div>
    <ng-template #elseBlock>No hay veterinarios a validar.</ng-template>
    <!-- /.row -->
    <hr>

    <!-- Pagination -->
    <!--
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
    -->

  </div>
  <!-- /.container -->