<!-- Page Content -->
<div class="container">
    <div class="alert {{classstatus}}" role="alert">{{status}}</div>
      <!-- Listado Mascotas -->
      <div *ngIf="mascotas; else elseBlock">
      <div *ngIf="mascotas.length != 0; else elseBlock">
        <div>
        <form #aceptarMascotaForm="ngForm" (ngSubmit)="aceptarMascota(aceptarMascotaForm)" class="form-horizontal">
          <ul>
            <li *ngFor="let mascota of mascotas; let i = index;"><div class="row">&nbsp;Nombre Mascota: {{ mascota.nombre }}. Dueño: {{ mascota.dueno.apellido }}, {{mascota.dueno.nombre}} | <label for="aceptar" class="cols-sm-2 control-label">¿Aceptar? -> </label> <input type="checkbox" name="aceptar" (change)="seleccionar(mascota.id)"></div>
            </li>
          </ul>
          <input class="btn btn-primary" type="submit" value="Aceptar">
        </form>
      </div>
      </div>
      </div>
      <ng-template #elseBlock>No hay mascotas.</ng-template>
      <!-- /.row -->
      <hr>
  
      <!-- Pagination -->
      <!--
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
      -->
  
    </div>
    <!-- /.container -->